.HomePage{
  background-color: #14171d;
}
.bsFezP {
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.85em;
  text-align: center;
  text-decoration: none;
  width: 175px;
  height: 45px;
  margin: 7px 0;
  background: transparent;
  color: white;
  border-radius: 100px;
  border: 1px solid #39b392;
  box-shadow: 0 0 0 0 rgba(86,201,170,0.7);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 15px;
  background: linear-gradient( 40deg, #206653, #56c9aa );
}
.hFMPuQ {
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.85em;
  text-align: center;
  text-decoration: none;
  width: 175px;
  height: 45px;
  margin: 7px 0;
  background: transparent;
  color: white;
  border-radius: 100px;
  border: 1px solid #39b392;
  box-shadow: 0 0 0 0 rgba(86,201,170,0.7);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.kWlnEU {
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.jcRTdy {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid;
  border-color: #56c9aa;
  border-radius: 2px;
  background: transparent;
  color: #56c9aa;
  margin-right: 10px;
  margin-top: 10px;
  outline: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  display: inline-block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0px;
  background: #14171d;
  position: absolute;
  right: -50px;
  border: none;
}
 @media screen and (max-width: 991px) {
    .ImgCv{
      display: none;
    }
 } 

